<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>

<body>
<div class="form-container">
    <div class="form-card">

        <div class="button-my-form">
            <a href="/form/edit">
                <button type="submit">Edit my form</button>
            </a>
        </div>

        <div class="button-user-forms">
            <a href="/form">
                <button type="submit">Forms</button>
            </a>
        </div>

    </div>
</div>
</body>
</html>