<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>

<body>
<div class="form-container">
    <div class="form-card">
        <ul>
                <span th:text="${form.firstName}"></span>
                <span th:text="${form.lastName}"></span>
                <span th:text="${form.age}"></span>
                <span th:text="${form.gender}"></span>
                <span th:text="${form.aboutMe}"></span>
                <span th:text="${form.mainPhotoUrl}"></span>
        </ul>

    </div>
</div>
</body>
</html>