<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
</head>

<body>
<div class="home-container">
    <div class="home-card">

        <div class="button-profile">
            <a href="/user/profile">
                <button type="submit">Profile</button>
            </a>
        </div>

        <div class="button-forms">
            <a href="/user/form">
                <button type="submit">Forms</button>
            </a>
        </div>

    </div>
</div>

</body>
</html>