<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>

        <form method="post" action="/login">
            <input id="username" name="username" placeholder="Username" required>
            <input id="password" name="password" type="password" placeholder="Password" required>

            <input type="hidden" id="csrfToken" th:value="${_csrf.token}">

            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
</html>