<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
    <link th:href="@{/css/match.css}" rel="stylesheet">
</head>
<body>

<div class="match-container">
    <div class="match-card">
        <h2>Matches</h2>

        <div th:each="form : ${forms.content}">
            <ul>
                <span th:text="${form.firstName}"></span>
            </ul>
        </div>

        <!-- Кнопка Назад -->
        <form th:if="${forms.hasPrevious()}" th:action="@{/user/matches}" method="get">
            <input type="hidden" name="page" th:value="${forms.number - 1}">
            <button type="submit" class="btn">← Назад</button>
        </form>

        <!-- Кнопка Вперед -->
        <form th:if="${forms.hasNext()}" th:action="@{/user/matches}" method="get">
            <input type="hidden" name="page" th:value="${forms.number + 1}">
            <button type="submit" class="btn">Вперед →</button>
        </form>

    </div>
</div>

</body>
</html>