<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link th:href="@{/css/profile.css}" rel="stylesheet" >
</head>

<body>
<div class="profile-container">
    <div class="profile-card">

        <div class="photo-wrapper">
            <label for="photoInput">
                <img id="photoPreview"
                     src="avatar.jpg"
                     alt="Profile photo">
            </label>
            <input type="file"
                   id="photoInput"
                   accept="image/*"
                   hidden>
        </div>

        <form class="profile-form">

            <input id="firstName" placeholder="First name" required>
            <div class="error" id="error-firstName"></div>

            <input id="lastName" placeholder="Last name" required>
            <div class="error" id="error-lastName"></div>

            <input id="birthDate" type="date" required>
            <div class="error" id="error-birthDate"></div>

            <select id="gender" name="gender" required>
                <div class="error" id="error-gender"></div>
                <option value="">Select Gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="OTHER">Other</option>
            </select>


            <input id="city" placeholder="City" required>
            <div class="error" id="error-city"></div>

            <textarea id="aboutMe" placeholder="About me" required></textarea>
            <div class="error" id="error-aboutMe"></div>

            <input type="hidden" id="csrfToken" th:value="${_csrf.token}">

            <button type="submit">Save profile</button>
        </form>

    </div>
</div>

<script th:src="@{/js/profile/profile.js}"></script>

</body>
</html>