<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <link th:href="@{/css/profile-edit.css}" rel="stylesheet" >
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<body>
<div class="profile-container">
    <div class="profile-card">
        <div class="photo-wrapper">
            <label for="photoInput">
                <img id="mainPhotoUrl"
                     th:src="${profile.mainPhotoUrl != null} ?  ${profile.mainPhotoUrl} : @{avatar.jpg}"
                     alt="Profile photo">
            </label>
            <input type="file"
                   id="photoInput"
                   accept="image/*"
                   hidden>
        </div>

        <form id="profile-form" class="profile-form">

            <input id="firstName" th:value="${profile.firstName ?: ''}" placeholder="First name" required>
            <div class="error" id="error-firstName"></div>

            <input id="lastName" th:value="${profile.lastName ?: ''}" placeholder="Last name" required>
            <div class="error" id="error-lastName"></div>

            <input id="birthDate" th:value="${profile.birthDate ?: ''}" type="date" required>
            <div class="error" id="error-birthDate"></div>

            <select id="gender" th:field="${profile.gender}" name="gender" required>
                <option value="">Select Gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
                <option value="OTHER">Other</option>
            </select>
            <div class="error" id="error-gender"></div>


            <input id="city" th:value="${profile.city ?: ''}" placeholder="City" required>
            <div class="error" id="error-city"></div>

            <textarea id="aboutMe" th:text="${profile.aboutMe ?: ''}" placeholder="About me" required></textarea>
            <div class="error" id="error-aboutMe"></div>

            <textarea id="telegramUsername" th:text="${profile.telegramUsername ?: ''}" placeholder="Telegram"></textarea>

            <textarea id="instagramUsername" th:text="${profile.instagramUsername ?: ''}" placeholder="Instagram"></textarea>

            <div class="checkbox-group">
                <input type="checkbox" id="formStatusCheck" name="formStatusCheck" th:checked="${profile.formStatus == T(com.bsuir_finder.dto.enums.FormStatus).ACTIVE}">
                <label for="formStatusCheck">Activate a form</label>
            </div>

<!--            <input type="hidden" id="csrfToken" th:value="${_csrf.token}">-->

            <button type="submit" id="saveProfileBtn">Save profile</button>
        </form>
    </div>
</div>

</body>
<script th:src="@{/js/profile/profile-edit.js}"></script>
</html>